/*---------------------------------------------------------------------------
    Project:        Portfolio
    Version:        1.0
    Author:         Kateryna Sukharevska
------------------------------------------------------------------------------*/
/** {*/
/*transition: all .3s;*/
/*}*/

*:focus {
    outline: none;
}

/* Base styles
   =========================================================================== */

body {
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    color: #60606e;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}

p {
    margin: 0;
    color: #C1C0C0;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-size: 42px;
    margin: 0;
    color: #C1C0C0;
}

h2 {
    font-size: 30px;
}

h3 {
    margin: 0 0 45px 0;
    font-size: 22px;
    position: relative;
}

h3:after {
    content: '';
    display: block;
    clear: both;
    background: #ec1a31;
    width: 50px;
    height: 1px;
    position: absolute;
    top: 36px;
    right: 48%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/*Section full screen*/
.full-screen {
    background: url("../images/laptop-1103330_960_720.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

/*.full-screen */
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*background: rgba(0,0,0, 0.7);*/
    background: rgba(7, 36, 70, 0.7);
    z-index: 1;
}

.full-screen .full-screen-content {
    z-index: 1000;
    position: relative;
    height: 100vh;
}

.full-screen .full-screen-content header {
    display: block;
    position: fixed;
    right: 150px;
    top: 20px;
    z-index: 1000;
}

.full-screen .full-screen-content .header-center {
    height: 100vh;
}

.full-screen .full-screen-content .header-center .center-text {
    padding: 10px;
}

.full-screen .full-screen-content .header-center .center-text > h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.full-screen .full-screen-content .header-center .center-text > h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 20px 0 25px 0;
}

.full-screen .full-screen-content .header-center .center-text > p {
    font-size: 1.2rem;
}

.full-screen .full-screen-content .header-center .center-text > p > span {
    color: #ec1a31;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background: #C1C0C0;
}

.full-screen .full-screen-content header span:nth-child(2) {
    top: 10px;
    width: 18px;
}

.full-screen .full-screen-content header span:nth-child(3) {
    top: 20px;
    width: 25px;
}

.full-screen #overlay-for-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 998;
}

.full-screen .overlay-for-menu.open {
    opacity: .98;
    visibility: visible;
    height: 100%;
}

.full-screen .overlay-for-menu.open:before {
    left: 0;
}

.full-screen .overlay-for-menu.open:after {
    right: 0;
}

.full-screen .overlay-for-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, width .35s;
    transition: opacity .35s, visibility .35s, width .35s;
}

.full-screen .overlay-for-menu:before {
    content: '';
    background: #25262a;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: left .35s ease;
    transition: left .35s ease;
}

.full-screen .overlay-for-menu:after {
    content: '';
    background: #25262a;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

.full-screen nav {
    z-index: 1;
    display: none;
}

.full-screen nav ul {
    padding: 0 10px 0 5px;
}

.full-screen nav ul li {
    cursor: pointer;
    padding: 20px;
}

.full-screen nav ul li a {
    display: block;
    padding: 20px 0;
    color: #fcfcfc;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Fadein -> Fadeout */
.full-screen nav.active {
    left: 0;
    transition: 0.3s ease-in-out;
}

/* Section About */

.about, .projects, .location {
    background: #F3EEEE;
    padding: 100px 0 0 0;
}

.about-me h4 {
    margin: 0;
    color: #ec1a31;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.about-me li {
    color: #fff;
    padding: 3px 0 3px 40px;
    font-size: 17px;
}

.about-me li:before {
    content: '';
    background: url("../images/red2.png") no-repeat;
    display: inline-block;
    width: 19px;
    height: 20px;
}

.foto {
    height: 387px;
}

.foto img {
    width: 100%;
    border-radius: 3px;
}

.about-me, .why-me, .foto {
    box-shadow: 7px -3px 23px rgba(0, 0, 0, 0.2);
}

.about-me, .why-me {
    height: 387px;
    background-color: #2d2b2b;
    border-radius: 3px;
}

/* Section Projects */

.one-project {
    width: inherit;
    height: 400px;
    border-radius: 3px;
    box-shadow: 7px -3px 23px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.projects .project-box {
    display: block;
    overflow: hidden;
    height: inherit;
    transition: all 0.3s ease-in-out;
}

.projects .project-box .project-name {
    display: none;
}

.projects .project-box .project-name p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}

.projects .project-box .project-name span {
    width: 150px;
    height: 2px;
    background-color: #ec1a31;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.projects .project-box {
    background-size: cover !important;
    transition: all 0.3s ease-in-out;
}

.projects .project-box:hover {
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.projects .project-box:hover .project-name {
    display: block;
}

.project-box.project-1 {
    background: url("../images/project_active_box.jpg") center center no-repeat;
}

.project-box.project-2 {
    background: url("../images/project_treasure_club.jpg") center center no-repeat;
}

.project-box.project-3 {
    background: url("../images/project_two_wheels.jpg") center center no-repeat;
}

.project-box.project-4 {
    background: url("../images/project_creative_agency.jpg") center center no-repeat;
}


.project-box .overlay-projects {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 8px;
    width: 100%;
    height: 100%;
    background: rgba(3, 14, 39, 0.7);
    z-index: 1;
    border-radius: 3px;
}

/* Footer */

footer {
    background: #F3EEEE;
    padding: 100px 0 20px 0;
}

footer .icons ul li {
    display: inline-block;
    margin-right: 20px;
}

footer .icons .in,
footer .icons .fb {
    background: url("../images/sb2-1.png") no-repeat;
    display: block;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    width: 34px;
    height: 32px;
}

footer .icons .fb {
    background: url("../images/sb4-1.png") no-repeat;
    width: 17px;
    height: 35px;
}

footer .icons .in:hover {
    background: url("../images/i-hover.png") no-repeat;
    transition: all ease-in-out .3s;
}

footer .icons .fb:hover {
    background: url("../images/fb-hover.png") no-repeat;
    transition: all ease-in-out .3s;
}

/* Media Queries */

@media only screen and (min-width: 48em) {
    .container {
        width: inherit !important;
    }
}

/* Header */

@media only screen and (max-width: 992px) {
    .full-screen .full-screen-content header {
        right: 20px;
    }
}


/* Hero  */
@media only screen and (max-width: 48em) {
    .full-screen .full-screen-content .header-center .center-text > h1 {
        font-size: 2.5rem;
    }

    .full-screen .full-screen-content .header-center .center-text > h2 {
        font-size: 1.25rem;
    }

    .full-screen .full-screen-content .header-center .center-text > p {
        font-size: .8rem;
    }
}





















